<!DOCTYPE html>
<!-- Link para el uso de Thimeleaf! (No olvidarse de colocarlo) -->
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

    <div th:insert="fragments/head"></div>

</head>


<!-- ------------------------------------------------------------------------ NAVBAR ------------------------------------------------------------------------------------------------------- -->
<nav>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" th:href="@{/}">INICIO</a>
        </li>
        <!-- Seccion Libros -->
        <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                aria-expanded="false">LIBROS</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" th:href="@{/libros/agregarlibro}">Agregar Libro</a></li>
                <li><a class="dropdown-item" th:href="@{/libros/listalibrosmodificar}">Modificar Libro</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" th:href="@{/libros/buscarporautor}">Buscar por Autor</a></li>
                <li><a class="dropdown-item" href="#">Buscar por Titulo</a></li>
                <li><a class="dropdown-item" href="#">Buscar por Editorial</a></li>
                <li><a class="dropdown-item" href="#">Buscar por ISBN</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" th:href="@{/libros/listarlibros}">Listar Todos</a></li>
            </ul>
        </li>
        <!-- Seccion Autores -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                aria-expanded="false">AUTORES</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" th:href="@{/autores/agregarautor}">Agregar Autor</a></li>
                <li><a class="dropdown-item" href="#">Buscar Autor</a></li>
                <li><a class="dropdown-item" href="#">Modificar Autor</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Listar Autores</a></li>
            </ul>
        </li>
        <!-- Seccion Editoriales -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                aria-expanded="false">EDITORIALES</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" th:href="@{/editoriales/agregareditorial}">Agregar Editorial</a></li>
                <li><a class="dropdown-item" href="#">Buscar Editorial</a></li>
                <li><a class="dropdown-item" href="#">Modificar Editorial</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Listar Editoriales</a></li>
            </ul>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">SUCURSALES</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">CONTACTO</a>
        </li>
    </ul>

</nav>

<!-- ------------------------------------------------------------------------ HEADER ------------------------------------------------------------------------------------------------------- -->
<header>

</header>

<!-- -------------------------------------------------------------------------- BODY ------------------------------------------------------------------------------------------------------- -->

<body>

    <div class="buscador">
        <div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Seleccionar autor</span>
                <select th:name="idautor" id="listaDeOpciones" class="form-control">
                    <option th:value=null>-- Seleccione un Autor --</option>
                    <option th:each="autor : ${autores}" th:text="${autor.nombre}" th:value="${autor.id}">
                </select>
            </div>
        </div>
    </div>

    <div>
        <button action="/buscarPorAutor" class="btn btn-outline-primary">Buscar</button>
    </div>






    <!-- ---------------------------------------------------------------------------- FOOTER ------------------------------------------------------------------------------------------------- -->

    <div>

        <div th:insert="fragments/footer"></div>

    </div>

</body>

</html>