<!DOCTYPE html>
<!-- Link para el uso de Thimeleaf! (No olvidarse de colocarlo) -->
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

        <div th:insert="fragments/head"></div>

</head>

<!-- ------------------------------------------------------------------------ NAVBAR ----------------------------------------------------------------------------------------------------- -->
<nav>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" th:href="@{/}">INICIO</a>
        </li>

        <!-- Seccion Libros -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                aria-expanded="false">LIBROS</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" th:href="@{/libros/agregarlibro}">Agregar Libro</a></li>
                <li><a class="dropdown-item" th:href="@{/libros/listalibrosmodificar}">Modificar Libro</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" th:href="@{/libros/buscarporautor}">Buscar por Autor</a></li>
                <li><a class="dropdown-item" href="#">Buscar por Titulo</a></li>
                <li><a class="dropdown-item" href="#">Buscar por Editorial</a></li>
                <li><a class="dropdown-item" href="#">Buscar por ISBN</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" th:href="@{/libros/listarlibros}">Listar Todos</a></li>
            </ul>
        </li>
        <!-- Seccion Autores -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                aria-expanded="false">AUTORES</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" th:href="@{/autores/agregarautor}">Agregar Autor</a></li>
                <li><a class="dropdown-item" href="#">Buscar Autor</a></li>
                <li><a class="dropdown-item" href="#">Modificar Autor</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Listar Autores</a></li>
            </ul>
        </li>
        <!-- Seccion Editoriales -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                aria-expanded="false">EDITORIALES</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" th:href="@{/editoriales/agregareditorial}">Agregar Editorial</a></li>
                <li><a class="dropdown-item" href="#">Buscar Editorial</a></li>
                <li><a class="dropdown-item" href="#">Modificar Editorial</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Listar Editoriales</a></li>
            </ul>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">SUCURSALES</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">CONTACTO</a>
        </li>
    </ul>

</nav>

<!-- ------------------------------------------------------------------------ HEADER ----------------------------------------------------------------------------------------------------- -->
<header class="masthead">
    <div class="container1">
        <div class="masthead-subheading">Bienvenidos a la mayor biblioteca de Argentina... </div>
        <div class="masthead-heading text-uppercase">Alejandria III ac</div>
    </div>
    <a id="botonLogIn" class="btn btn-primary btn-xl text-uppercase" href="#services">INGRESAR</a>
</header>

<!-- -------------------------------------------------------------------------- BODY ------------------------------------------------------------------------------------------------------- -->

<body>

    <div class="container text-center text-md-left">

        <div class="row">

            <!-- ---------- Columna 1 "About us" ---------- -->
            <div class="col-md-4 mx-auto">

                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">CONOCE MAS SOBRE NOSOTROS</h5>
                <p>Fundada en el año 1824, somo una de las bibliotecas iconicas de Argentina, con mas de 200.000
                    ejemplares en nuestras estanterias
                    poseemos una de las colecciones mas grandes de Latinoamerica de libros, acercate a Av. Cabildo
                    1234 y conocenos!
                </p>

            </div>

            <!-- ---------- Calumna 2 "Ultimos arribos" ---------- -->
            <div class="col-md-2 mx-auto" widtg=50%>

                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">ULTIMOS ARRIBOS</h5>

                <!-- ---------- Proximamente Cartas con novedades ---------- -->
                <tr>
                    <td>
                        <a href="#!">Carta 1</a>
                    </td>
                    <td>
                        <a href="#!">Carta 2</a>
                    </td>
                    <td>
                        <a href="#!">Carta 3</a>
                    </td>
                </tr>

            </div>

        </div>

    </div>

    <hr>

    <!-- -------------------- Boton de registro -------------------- -->
    <ul class="list-unstyled list-inline text-center py-2">
        <li class="list-inline-item">
            <h5 class="mb-1">Registrate gratis!</h5>
        </li>
        <li class="list-inline-item">
            <a href="#!" class="btn btn-danger btn-rounded">REGISTRARSE!</a>
        </li>
    </ul>
    </div>

    <!-- ---------------------------------------------------------------------------- FOOTER ----------------------------------------------------------------------------------------------------- -->
    
    <div>

        <div th:insert="fragments/footer"></div>

    </div>

</body>

</html>