<!DOCTYPE html>
<!-- Link para el uso de Thimeleaf! (No olvidarse de colocarlo) -->
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

    <div th:insert="fragments/head"></div>

</head>


<!-- ------------------------------------------------------------------------ NAVBAR ------------------------------------------------------------------------------------------------------- -->
<nav>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" th:href="@{/}">INICIO</a>
        </li>
        <!-- Seccion Libros -->
        <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                aria-expanded="false">LIBROS</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" th:href="@{/libros/agregarlibro}">Agregar Libro</a></li>
                <li><a class="dropdown-item" th:href="@{/libros/listalibrosmodificar}">Modificar Libro</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" th:href="@{/libros/buscarporautor}">Buscar por Autor</a></li>
                <li><a class="dropdown-item" href="#">Buscar por Titulo</a></li>
                <li><a class="dropdown-item" href="#">Buscar por Editorial</a></li>
                <li><a class="dropdown-item" href="#">Buscar por ISBN</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" th:href="@{/libros/listarlibros}">Listar Todos</a></li>
            </ul>
        </li>
        <!-- Seccion Autores -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                aria-expanded="false">AUTORES</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" th:href="@{/autores/agregarautor}">Agregar Autor</a></li>
                <li><a class="dropdown-item" href="#">Buscar Autor</a></li>
                <li><a class="dropdown-item" href="#">Modificar Autor</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Listar Autores</a></li>
            </ul>
        </li>
        <!-- Seccion Editoriales -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                aria-expanded="false">EDITORIALES</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" th:href="@{/editoriales/agregareditorial}">Agregar Editorial</a></li>
                <li><a class="dropdown-item" href="#">Buscar Editorial</a></li>
                <li><a class="dropdown-item" href="#">Modificar Editorial</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Listar Editoriales</a></li>
            </ul>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">SUCURSALES</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">CONTACTO</a>
        </li>
    </ul>

</nav>

<!-- ------------------------------------------------------------------------ HEADER ------------------------------------------------------------------------------------------------------- -->
<header>

</header>

<!-- -------------------------------------------------------------------------- BODY ------------------------------------------------------------------------------------------------------- -->

<body>

    <div class="titulotabla">
        <span class="badge bg-primary">LIBROS ACTIVOS</span>
    </div>

    <div class="muestralistas">
        <table class="table table-sm table-hover table-striped">
            <thead class="tablas">
                <tr>
                    <th scope="col">ISBN</th>
                    <th scope="col">TITULO</th>
                    <th scope="col">AUTOR</th>
                    <th scope="col">EDITORIAL</th>
                    <th scope="col">EJEMPLARES</th>
                    <th scope="col">PRESTADOS</th>
                    <th scope="col">EDITAR</th>
                </tr>
            </thead>
            <tbody class="tablas">
                <tr th:each="libro : ${libros}">
                    <th scope="row" th:text="${libro.isbn}"></th>
                    <td th:text="${libro.titulo}"></td>
                    <th th:text="${libro.autor.nombre}"></th>
                    <td th:text="${libro.editorial.nombre}"></td>
                    <td th:text="${libro.ejemplares}"></td>
                    <td th:text="${libro.prestados}"></td>
                    <td>
                        <!-- Genera un path variable que va a adoptar el valir del ISBN, los __ son para evitar un error -->
                        <a class="btn btn-outline-primary" th:href="@{/libros/modificarlibro/__${libro.isbn}__}">
                            <i class="fa fa-pencil-alt"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="titulotabla">
        <span class="badge bg-danger">LIBROS INACTIVOS</span>
    </div>

    <div class="muestralistas">
        <table class="table table-sm table-hover table-striped">
            <thead class="tablas">
                <tr>
                    <th scope="col">ISBN</th>
                    <th scope="col">TITULO</th>
                    <th scope="col">AUTOR</th>
                    <th scope="col">EDITORIAL</th>
                    <th scope="col">EJEMPLARES</th>
                    <th scope="col">PRESTADOS</th>
                    <th scope="col">EDITAR</th>
                </tr>
            </thead>
            <tbody class="tablas">
                <tr th:each="libro : ${libros}">
                    <th scope="row" th:text="${libro.isbn}"></th>
                    <td th:text="${libro.titulo}"></td>
                    <th th:text="${libro.autor.nombre}"></th>
                    <td th:text="${libro.editorial.nombre}"></td>
                    <td th:text="${libro.ejemplares}"></td>
                    <td th:text="${libro.prestados}"></td>
                    <td>
                        <!-- Genera un path variable que va a adoptar el valir del ISBN, los __ son para evitar un error -->
                        <a class="btn btn-outline-primary" th:href="@{/libros/modificarlibro/__${libro.isbn}__}">
                            <i class="fa fa-pencil-alt"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    <!-- ---------------------------------------------------------------------------- FOOTER ------------------------------------------------------------------------------------------------- -->

    <div>

        <div th:insert="fragments/footer"></div>

    </div>

</body>

</html>