<!DOCTYPE html>
<!-- Link para el uso de Thimeleaf! (No olvidarse de colocarlo) -->
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

    <div th:insert="fragments/head"></div>

</head>


<!-- ------------------------------------------------------------------------ NAVBAR ------------------------------------------------------------------------------------------------------- -->
<nav>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" th:href="@{/}">INICIO</a>
        </li>
        <!-- Seccion Libros -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                aria-expanded="false">LIBROS</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" th:href="@{/libros/agregarlibro}">Agregar Libro</a></li>
                <li><a class="dropdown-item" th:href="@{/libros/listalibrosmodificar}">Modificar Libro</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" th:href="@{/libros/buscarporautor}">Buscar por Autor</a></li>
                <li><a class="dropdown-item" href="#">Buscar por Titulo</a></li>
                <li><a class="dropdown-item" href="#">Buscar por Editorial</a></li>
                <li><a class="dropdown-item" href="#">Buscar por ISBN</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" th:href="@{/libros/listarlibros}">Listar Todos</a></li>
            </ul>
        </li>
        <!-- Seccion Autores -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                aria-expanded="false">AUTORES</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" th:href="@{/autores/agregarautor}">Agregar Autor</a></li>
                <li><a class="dropdown-item" href="#">Buscar Autor</a></li>
                <li><a class="dropdown-item" href="#">Modificar Autor</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Listar Autores</a></li>
            </ul>
        </li>
        <!-- Seccion Editoriales -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                aria-expanded="false">EDITORIALES</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" th:href="@{/editoriales/agregareditorial}">Agregar Editorial</a></li>
                <li><a class="dropdown-item" href="#">Buscar Editorial</a></li>
                <li><a class="dropdown-item" href="#">Modificar Editorial</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Listar Editoriales</a></li>
            </ul>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">SUCURSALES</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">CONTACTO</a>
        </li>
    </ul>

</nav>

<!-- ------------------------------------------------------------------------ HEADER ------------------------------------------------------------------------------------------------------- -->
<header>

</header>

<!-- -------------------------------------------------------------------------- BODY ------------------------------------------------------------------------------------------------------- -->

<body>

    <div class="tablaAgregar">

        <p th:if="${error != null}" th:text="${error}"></p>
        <p th:if="${exito != null}" th:text="${exito}"></p>
        <!-- -------------------------------------------------------------------------------- -->
        <!-- --------------- Aca configuro la accion boton para crear usuario --------------- -->
        <!-- -------------------------------------------------------------------------------- -->
        <form th:action="@{/     /     }" method="POST" enctype="multipart/form-data">

            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">DNI</span>
                <input type="number" class="form-control" name="isbn" th:value="${isbn}"
                    aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Nombre</span>
                <input type="text" class="form-control" name="titulo" th:value="${titulo}"
                    aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Apellido</span>
                <input type="text" class="form-control" name="anio" th:value="${anio}" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
                <input type="text" class="form-control" name="ejemplares" th:value="${ejemplares}"
                    aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Calve</span>
                <input type="text" class="form-control" name="prestados" th:value="${prestados}"
                    aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Repetir Clave</span>
                <input type="text" class="form-control" name="prestados" th:value="${prestados}"
                    aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Foto Perfil</span>
                <input type="file" class="form-control" name="fotoportada"
                    aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="form-row text-center">
                <button type="submit" class="btn btn-outline-primary">Guardar</button>
            </div>

        </form>

    </div>


    <!-- ---------------------------------------------------------------------------- FOOTER ------------------------------------------------------------------------------------------------- -->

    <div>

        <div th:insert="fragments/footer"></div>

    </div>

</body>

</html>